.features{
    margin-top: 100px;
}
.features__text-features{
    text-align: center;
}
.text-features__title{
    font-size: 48px;
    letter-spacing: 0.2mm;
    font-weight: 400;
}
.text-features__description{
    font-size: 28px;
    letter-spacing: 0.2px;
    line-height: 40px;
    color: var(--section-text-color-description);
    margin: 25px 0 40px 0;
}
.features-video-screen{
}

.features__blocks-features{

}
.block-features__info-blocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.info-blocks-img{
    width: 46px;
    height: 46px;
}
.info-blocks__title{
    font-size: 20px;
    width: 200px;
    letter-spacing: 0.1px;
    font-weight: bold;
    text-align: center;
    margin: 27px 0 20px 0;
}
.info_blocks__description{
    width: 231px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--section-text-color-description);
}
